.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background: linear-gradient(#ffffff, #c4c4c4)
}

.formOutline{
  width: 40%;
  align-self: center;
  border: 1px solid #c4c4c4;
  border-radius: 20px;
  padding: 2em;
  box-shadow: 3px 3px 3px #000000;
  background-color: #ffffff;
}

.message{
  margin: 3em;
  position: fixed;
  top: 0px;
  padding: 1em;
  border-radius: 20px;
  color: white;
  background-color: rgb(65, 109, 255);
  animation-name: MessageIn;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  z-index: 9999;
}

@keyframes MessageIn{
  0%{
    opacity: 0
  }
  10%{
    opacity:1
  }
  90%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    display: none;
  }
}

.behind{
  z-index: 1;
}

.front{
  z-index: 9999;
  position: relative;
}